<p>player 1: <%=$game.player_1.name%></p>
<p>player 2: <%=$game.player_2.name%> -- Health: <%=$game.player_2.hp%>/100</p>

<form action="/hit" method="post">
  <input type="submit" name="Attack" value="Attack"></input>
</form>
